.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1; /* 横に広がるように設定 */
  background-color: #2f3136;
}

.App {
  display: flex;
  height: 100vh; /* 画面全体の高さを確保 */
}


.chatHeader {
  height: 60px;
  background-color: #36393f;
}

.chatMessage {
  flex-grow: 1; /* 残りの高さを占有する */
  overflow-y: auto; /* スクロールを有効にする */
  padding: 20px;
}

.chatInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #474b53;
  border-radius: 5px;
  margin: 0 20px 20px; /* 下部にスペースを追加 */
}

.chatInput form {
  flex-grow: 1;
  display: flex;
  margin-left: 10px;
}

.chatInput input {
  flex-grow: 1;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.chatInputIcons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.AppContainer {
  display: flex;
  height: 100vh; /* 画面全体の高さを占める */
}


