.ChatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  background-color: #2f3136; 

  .ChatHeaderLeft {
    padding-left: 15px;

    h3 {
      color: white;
    }
  }

  .chatMessage {
    flex-grow: 1; /* 残りの高さを占有する */
    overflow-y: auto; /* スクロールを有効にする */
    padding: 20px;
  }

  .chatHeader {
    height: 60px;
    background-color: #36393f;
  }

  .ChatHeaderRight {
    display: flex;
    align-items: center;
    gap: 15px; 
    padding-right: 15px;
  

    .ChatHeaderSearch {
      display: flex;
      align-items: center;
      gap: 5px;

      input {
        padding: 5px;
        border: none;
        border-radius: 4px;
        background-color: #40444b;
        color: white;
        outline: none;
      }
    }
  }
}
