.ChatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  background-color: #2f3136; // 背景色の設定

  .ChatHeaderLeft {
    padding-left: 15px;

    h3 {
      color: white;
    }
  }

  .ChatHeaderRight {
    display: flex;
    align-items: center;
    gap: 15px; // アイコンの間隔を調整
    padding-right: 15px;
  

    .ChatHeaderSearch {
      display: flex;
      align-items: center;
      gap: 5px;

      input {
        padding: 5px;
        border: none;
        border-radius: 4px;
        background-color: #40444b;
        color: white;
        outline: none;
      }
    }
  }
}
