.Sidebar {
   display: flex;
   flex: 0.35;
   height: 100vh;
   background-color: #312f51;
 
 
 .sidebarLeft {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1c1b29;
   padding: 7px 15px;

   .serverIcon {
    width: 55px;
    height: 55px;
    background-color: gray;
    border-radius: 50%; /* 円形にする */
    margin-bottom: 10px;
    display: flex; /* 子要素を中央に配置するために flex を使用 */
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    margin-top: 7px;
    
   
    
  }
 }

 .sidebarRight{
   background-color: #292841;
   width: 300px;

   .sidebarTop {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;

    .sidebarFooter {
    display: flex;
    align-items: center;  /* 縦方向を中央揃え */
    justify-content: space-between;  /* 必要に応じて間隔を調整 */
    padding: 10px;
    position: absolute; /* 絶対位置に配置 */
  bottom: 0; /* 画面の一番下に配置 */

  .sidebarChannels {
    padding: 10px;
    color: white;
    padding-left: 10px;
  }
}

.sidebarChannelsHeader {
  display: flex;
  align-items: center;  /* 縦方向中央揃え */
  justify-content: space-between; /* テキストとアイコンを両端に配置 */
  padding: 10px;
    margin: 0;
    font-size: 16px;
    color: white;
  }
}

.sidebarHeader  {
  display: flex;
  margin-top: 5px;
  font-size: 16px;
  color: white;
  justify-content: space-between;
  }

  .sidebarFooter {
    position: absolute;
    bottom:0%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 93%;
    padding-bottom: 10px;
    border-top: 1px solid #686a6e;
    
  }
  }

}
