.SidebarChannel {
  padding-left:20px;
  margigin: top 2px;


  h4{
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor:pointer;

    &:hover{
        color: white;
        background-color: #33363d;
        border-radius: 7px;
    }
  }

  .sidebarChannelHash{
    font-size: 22px;
    padding-right: 10px;
  }
}